/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  color: #373fff;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
  line-height: 1.5;
}

button {
  background-color: black;
  border: 1px solid blue;
  color: white;
  padding: 0.625rem;
  width: 100%;
  font-size: 1rem;
  margin: 1.875rem 0.125rem;
  cursor: pointer;
}

nav {
  width: 25%;
  padding: 0.5rem;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: 1rem;
  padding-bottom: 1rem;
}

iframe,
.fullwidth,
img {
  width: 100%;
  margin-bottom: 0.625rem;
}

@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  body {
    flex-direction: column;
  }
}

/* Additional styles if needed */
