/* CSS files add styling rules to your content */

body {
  font-family: monospace;
  margin: 2rem;
  width: 100%;
  height: 100%;
}

h1 {
  color: #373fff;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 0.75rem;
  line-height: 1.5;
}

button {
  font-family: "Inconsolata", monospace;
  background-color: black;
  border: none;
  color: white;
  padding: 0.625rem;
  width: 100%;
  font-size: 1rem;
  margin: 1.875rem 0.125rem;
  cursor: pointer;
}

nav {
  padding: 0.5rem;
}

main {
  padding: 0.5rem;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: 1rem;
  padding-bottom: 1rem;
}

iframe,
.fullwidth,
img {
  width: 100%;
  margin-bottom: 0.625rem;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: "Inconsolata", monospace;
    margin: 1%;
    width: 98%;
    height: 100%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .img {
    width: 100%;
    height: auto;
  }
}

/* Additional styles if needed */
